<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>857133345607-6mhd5su2t9q2kpdb8nbf43jlbge2d35b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857133345607-6mhd5su2t9q2kpdb8nbf43jlbge2d35b</string>
	<key>API_KEY</key>
	<string>AIzaSyDV1v0_0_P5Rnu00XjcigVpImfOyDEaffU</string>
	<key>GCM_SENDER_ID</key>
	<string>857133345607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.batman.PuzzleMe</string>
	<key>PROJECT_ID</key>
	<string>puzzleme-438ec</string>
	<key>STORAGE_BUCKET</key>
	<string>puzzleme-438ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:857133345607:ios:e596f6e381fc9d6c</string>
	<key>DATABASE_URL</key>
	<string>https://puzzleme-438ec.firebaseio.com</string>
</dict>
</plist>
